@page "/"
@using Microsoft.AspNetCore.Identity;
@inject IServiceProvider serviceProvider;
@inject UserManager<Data.ApplicationUser> UserManager;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<a href=":;" onclick="sayHello()">Say Hellow</a>
<br />
<a href="/page2">Go to page 2</a>
<br />
<a href="/page3">Go to page 3</a>
<br />
<a href="/page4">Go to page 4</a>

@code {
    protected async override Task OnInitializedAsync()
    {
        //await CreateUserRoles("nienull@gmail.com", "Admin");
    }

    public async Task CreateUserRoles(string user, string role)
    {
        var roleManager = serviceProvider.GetRequiredService<RoleManager<IdentityRole>>();
        var userManager = UserManager;

        var userRoleCheck = await roleManager.RoleExistsAsync(role);
        if (!userRoleCheck)
            await roleManager.CreateAsync(new Microsoft.AspNetCore.Identity.IdentityRole(role));

        H4BlazorServerApp.Data.ApplicationUser identityUser = await userManager.FindByEmailAsync(user);
        await userManager.AddToRoleAsync(identityUser, role);
    }
}