@page "/page3"
<h3>Page3</h3>

<AuthorizeView>
    <Authorized>
        <div>Du er <b>logged-in</b>!</div>
    </Authorized>
    <NotAuthorized>
        <div>Du er <b>IKKE</b> logged-in!</div>
    </NotAuthorized>
</AuthorizeView>

@code {

}
